body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;

}

.container {
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #ddd;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.certificate {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    background-color: #f5f1f1;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* Smooth transition for showing/hiding the certificate */
/* .certificate {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.certificate.show {
    opacity: 1;
}

.hidden {
    display: none;
} */

/*  */



/* Printer*/

.certificate {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 15px;
    background-color: #f3f4f5;
    font-family: 'Georgia', serif;
    position: relative;
}

.certificate h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.certificate p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin: 10px 0;
}

.signatures {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.signatures div {
    text-align: center;
}

.signatures img {
    width: 150px;
    height: auto;
}

#certIssueDate, #certDonorName, #certDonationAmount, #certDonationDate, #certDonorName2 {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Print styles */
@media print {
    /* Hides all elements except the certificate */
    body * {
        visibility: hidden;
    }

    /* Makes the certificate and its children visible */
    #certificate, #certificate * {
        visibility: visible;
    }

    /* Customizes the certificate layout for printing */
    #certificate {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto; /* Adjusts height automatically to fit the content */
        border: none;
        padding: 0;
        margin: 0;
        background: none; /* Removes background color */
        margin-top: 80px;
       
    }

    /* Hides elements with the 'Hidden' class */
    .Hidden {
        visibility: hidden;
    }
}




